
# Miscellaneous
log/
.vscode/
.ignore/
TODO.md

# Backend
backend/data/app.db
backend/data/backups/*
__pycache__

# Frontend
frontend/config.js
frontend/test-api.js
frontend/tests.html
frontend/components/dumb/accountSummaryCard/test_js.html

# CLI
cli/.env
cli/screens/test_inputs.py
demos/
.claude/